<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<footer>Pivotal Software, Inc. - July 2015</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:fragment="copy" src="https://code.jquery.com/jquery.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script th:fragment="copy"
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>

</div>


